# Functions

#### problem 1: printing the maximum number in a list without using max() function

In [17]:
lis = [1,2,5,4,6,7]
largest = lis[0]
for i in lis: # i=1, 1>1 false 
    if i > largest :
        largest += lis[i]+1
        # print(i,"is largest")
print(i, "is largest")

7 is largest

#### problem 2: finding second largest number from the list

lis2 = [3,2,5,7,3,49,6,8,19,3,5,2]
largest_num = lis2[0]
second_largest = lis2[1]

for j in lis2 :
    if j> largest_num:
        largest_num = j


    elif j>second_largest:
        second_largest = j
        
print(largest_num)
print(second_largest)

#### prob 1: implemmet through function

In [27]:
def largest_num(lis):
    largestt = lis[0]
    second_largestt = lis[1]

    for z in lis:
        if z > largestt:
            largestt = z 

        elif z > second_largestt:
            second_largestt = z 

    print("second largest is ",  second_largestt)
    print("larhest is ", largestt)

lis3 = [2,4,5,2,2,3,333,77,88]
largest_num(lis3)

second largest is  88
larhest is  333

In [22]:
list__t = [1,2,3,55,44,6]
lar = list__t[0]
sec_lar = list__t[0]

for i in list__t:
    if i>lar:
        lar = i

    elif i>sec_lar:
        sec_lar = i 
print(lar)
print(sec_lar )

55
44

#### factorial of a fucntion

In [30]:
# factoril = n*(n1)
def factorial(n):
    if(n==1 or fact == 0 ):
        return 1 
    return n* factorial(n-1)



fact = int(input("enter a number you want to check factorial of ; "))
factorial(fact)

enter a number you want to check factorial of ;  5

120

In [31]:
def sum(a,b):
    return a+b

sum(2,3)

5

#### printing table of a given number

In [33]:
table = int(input("enter a number you want to print table"))
for i in range(11):
    print(table, "X", i, "=", table*i ) #2x1 = 2, 2x2=4

enter a number you want to print table 1

1 X 0 = 0
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

In [35]:
def table(num):
    for i in range(11):
        print(num, "X", i, "=", num*i )

tab = int(input("enter a number for printing table "))
table(tab)

enter a number for printing table  2

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20